// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

section{

}
.container-h2{
    color: #000101;
    font-size: 35px;
    font-weight: 600;
    line-height: 35px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.shop-cart{
    display: inline-block;
    width:30%;
    
    svg{
        width: 35px;
        height:35px;
        margin-right: 100px;
        
    }
   
}
.user svg{
    width: 34px;
    height:34px;
}
.total{
    display:none;
}
.logo{
    margin-right:150px;
}
.add-form{
    display: block;
    margin-top: 22px;
    [type=text]{
        width: 20px;
        display: inline-block;
    }
}
label{
    display:inline-block;
}
.shop-cart {
position: relative;
    &:hover{
        .mini-cart-list{
            display:block;
        }  
    }
}

.mini-cart-list{
    display: none;
    position: absolute;
    z-index: 100;
    width: 250px;
    background: #fff;
    top: 47px;
    right:25px;
    max-height:350px;
    overflow-y: scroll;
    ul{

        padding-left:30px;
        padding-top:20px;
    }
    li{
        border-bottom:1px solid #ebebeb;
        display: inline-block;
        margin-bottom: 20px;
        padding-bottom: 15px;
        
    }   
}
.product-price{
    width: 65px;
    display: inline-block;
    color: #686868;
    font-size: 16px;
    font-weight: 500;
    margin: 0 12px 0 0;
}
.product-title{
    text-align:left;
    font-size:18px;
    font-weight:bold;
}
.products{
    display:inline-block;
    position:relative;
}

.hero1{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -1.5rem !important;
    position:relative

}
h3,h2,h1{
    text-align: center;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3{
    padding-top: 200px;
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
    font-weight:bold;
}
h1{
    font-size: 45px; 
    font-weight:bold;
    text-transform: capitalize;
}
h2{
    color:#000;
    text-transform: uppercase;
    font-size:40px;
}
.count{
    background-color: #7e4c4f;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
    height: 22px;
    line-height: 23px;
    position: absolute;
    top: 10px;
    left: 30px;
    width: 22px;
    text-align:center;
}
.shopping-cart-title{
    font-size: 12px;
    line-height: 18px;
    margin: 0;
}
.qty{
    color: #777;
    font-size: 13px;
    margin: 5px 0 10px;
}
.tottal{
    color: #777;
    font-size: 14px;
}
.delete{
    border:1px solid #777;
    display: inline-block;
    float:right;
    border-radius:100%;
    font-size: 16px;
    font-weight: 400;
    height: 23px;
    line-height: 14px;
    margin-right: 10px;
    color: #777;
    width: 22px;
    text-align:center;
}
.shopping-cart-total{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
    padding-right: 40px;
    border-bottom:1px solid #ebebeb;
    width: 153px;
    text-align: center;
    margin-left: 27px;
    
}
.shopping-cart-buttons{
    display: inline-block;
    width: 100%;
    margin-top: 15px;
}
.checkout{
    margin-bottom: 15px;
    display: block;
    width: 150px;
    margin-left: 30px;
    background-color: transparent;
    border: 2px solid #eeeeee;
    border-radius: 50px;
    color: #000101;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    padding: 15px 20px 14px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
.your-cart{
    margin-bottom: 15px;
    display: block;
    width: 150px;
    margin-left: 30px;
    background-color: transparent;
    border: 2px solid #eeeeee;
    border-radius: 50px;
    color: #000101;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    padding: 15px 20px 14px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
.your-cart:hover{
    background-color: #7e4c4f;
    border: 2px solid #7e4c4f;
    color: #fff;
}
.checkout:hover{
    background-color: #7e4c4f;
    border: 2px solid #7e4c4f;
    color: #fff;
}

.slider-button{
    background-color: #fff;
    border-radius: 50px;
    color: #7e4c4f;
    display: inline-block;
    font-weight: bold;
    font-size:16px;
    line-height: 1;
    padding: 20px 45px;
    margin-left: calc(50% - 77px);
    margin-top:30px;
    cursor:pointer;
        a{
            color:#7e4c4f;
            text-decoration: none;
            font-weight: bold;
        }
}
.slider-button:hover{
    background-color: #7e4c4f;
    a{
    color: #fff;
    text-decoration:none;
    }

}
// SHOP FOOD
.single-products{
    display:inline-block;
    float:left;
    margin:10px;
}

.product-action {
    position: absolute;
    top: 50px;
    right: 80px;
    display: inline-block;
    margin: 50px;
}

.product-action a{
    border-right:1px solid black;
    display:none;
    padding: 10px;
}
.product-action a:nth-child(2){
    border:none;
}

.input-btn{
    width:40px;
    color: #000000;
    -webkit-opacity: 1;
    opacity: 1 !important;
    -webkit-text-fill-color: #000000;
    background: #ffffff;
    border: 1px solid #eeeeee;
    width: 40px;
    height: 40px;
    text-align: center;
}

.plus-icon{
    width:30px;
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
}
.plus-icon2{
    width:30px;
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
}
.quantity{
    margin-top: 10px;
    width: auto;
    display: flex;
    .plus-btn, .minus-btn{
        padding: 0;
        transition: 0.2s all;
        background: #ffffff;
        color: #999;
        font-size: 20px;
        font-weight: 400;
        height: 40px;
        width: 40px;
        border: 1px solid #eeeeee;
    }
}
.minus-btn{
    border-right: 0;
}
.add-button{
    background-color: transparent;
    border: 2px solid #eeeeee;
    color: #000101;
    display: inline-block;
    margin-left:20px;
}

.single-products:hover{
    .product-action  a{
        display:inline-block;
        background-color: white;
    }
    .product-action a:nth-child(2){
        display: inline-block;
        transition: all .4s ease-in-out;
        position: absolute;
    }
}
.buy-form{
    display:inline-block;
    width:100%;
}

// ABOUT US
.about-marten-section{
    background-color: #fff;
}
.row-about{
    display:inline-block;
    margin-top:50px;
    padding-bottom: 60px;
}
.about-us-img{
    display:inline-block;
    float:left;
    img{
        width:100%;
    }
}
.about-us{
    display:inline-block;
    float:right;
    margin-top: 50px;
    h2{
        font-size: 35px;
        font-weight: 600;
        line-height: 64px;
        margin: 0 0 18px;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        color: #444444;
        text-align: left;
    }
    p{
        font-size: 14px;
        margin: 0;
        padding-bottom:50px;
        font-weight: 400;
        line-height: 26px;
        color: #242424;
        margin-bottom: 15px;
        font-family: 'Montserrat', sans-serif;
    }
}
.btn-about-us{
    background-color: #7e4c4f;
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    padding: 18px 22px 18px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.btn-about-us:hover{
    background-color: #fff;
    color:#7e4c4f;
    text-decoration:none;
    border:1px solid #7e4c4f;
}
.swiper-container {
    width: 100%;
    height: 100vh;
    // position:relative;
}
.hero-slider{
    position: absolute;
}
.swiper-slide{
background-image: url('../assets/images/slider/background.jpg');
background-repeat:no-repeat;
background-position:center; 
background-size:cover; 
}
.swiper-pagination-bullet{
    background-color:#fff !important;
}
// LOGIN/REGISTER

// .login-form-container{
    
// }
// element.style {
// }
.login-form-container {
    background: transparent none repeat scroll 0 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    padding: 80px;
    text-align: left;
}
input[type=text],
input[type=password]{
    width: 100%;
    background-color: transparent;
    border: 1px solid #eaeaea;
    color: #333;
    font-size: 14px;
    height: 50px;
    margin-bottom: 30px;
    padding: 0 15px;
    text-transform: capitalize;
}
// input[type=checkbox]{


// }
.remember-me label{
    color: #000;
    font-size: 15px;
    font-weight: 400;
    padding-left: 10px;
}
.remember-me a{
    color: #454545;
    float: right;
    font-size: 15px;

}
.button-box button{
    border-radius: 50px;
    background-color: #d8d8d8;
    border: medium none;
    color: #000101;
    cursor: pointer;
    font-weight: 600;
    line-height: 1;
    padding: 13px 30px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}


@media(max-width: 990px){
    .logo{
        margin-right: 50px;
    }
    .shop-cart{
        margin-right: 10px;
    }
}